<div class="ui card">
    <div class="image container">
        {{#if user.image}}
            <img class="image content" src="/img/{{user.image}}" />
        {{else}}
            <img class="image content" src="/images/placeholder.png" />
        {{/if}}

    </div>
    <div class="content">
        <span class="header">{{user.displayname}}</span>
        <div class="meta">
            <span>@{{user.username}}</span><br />
            <span class="date" title="{{user.joined}}">Member since {{formatRelative user.joined}}</span>
        </div>
        <div class="description">
            {{user.description}}
        </div>
    </div>
    {{#if subs}}
        <div class="extra content">
            <i class="user icon"></i>
            {{subs}} Subscribers
        </div>
    {{/if}}
</div>
